<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [81]:
#Import the required libraries
import pandas as pd

In [82]:
#Import the advertising dataset
data=pd.read_csv("Advertising Budget and Sales.csv")

#### 2: Analyze the dataset

In [83]:
#View the initial few records of the dataset
data.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [84]:
#Check the total number of elements in the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               200 non-null    int64
 1   TV Ad Budget ($)         200 non-null    float64
 2   Radio Ad Budget ($)      200 non-null    float64
 3   Newspaper Ad Budget ($)  200 non-null    float64
 4   Sales ($)                200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

#### 3: Find the features or media channels used by the firm

In [85]:
#Check the number of observations (rows) and attributes (columns) in the dataset
data.count()

Unnamed: 0                 200
TV Ad Budget ($)           200
Radio Ad Budget ($)        200
Newspaper Ad Budget ($)    200
Sales ($)                  200
dtype: int64

In [86]:
#View the names of each of the attributes
data.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [87]:
#Create a feature object from the columns
from sklearn.model_selection import train_test_split

X_response=data.iloc[:,1:-1]

In [88]:
#View the feature object
X_response

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0               230.1                 37.8                     69.2
1                44.5                 39.3                     45.1
2                17.2                 45.9                     69.3
3               151.5                 41.3                     58.5
4               180.8                 10.8                     58.4
..                ...                  ...                      ...
195              38.2                  3.7                     13.8
196              94.2                  4.9                      8.1
197             177.0                  9.3                      6.4
198             283.6                 42.0                     66.2
199             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [89]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target=data.iloc[:,-1:]

In [90]:
#View the target object
Y_target

     Sales ($)
0         22.1
1         10.4
2          9.3
3         18.5
4         12.9
..         ...
195        7.6
196        9.7
197       12.8
198       25.5
199       13.4

[200 rows x 1 columns]

In [91]:
#Verify if all the observations have been captured in the feature object
X_response.shape

(200, 3)

In [92]:
#Verify if all the observations have been captured in the target object
Y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [93]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
X_train,X_test,Y_train,Y_test=train_test_split(X_response,Y_target)

In [94]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(150, 3) (50, 3) (150, 1) (50, 1)

6: Create a model  to predict the sales outcome

In [75]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg=LinearRegression()
linReg.fit(X_train,Y_train)

LinearRegression()

In [76]:
#Print the intercept and coefficients 
print(f'INTERCEPT:{linReg.intercept_}')
print(f'COEFFICIENTS:{linReg.coef_}')

INTERCEPT:[2.92122447]
COEFFICIENTS:[[ 0.04487011  0.20126878 -0.00238101]]

In [102]:
#Predict the outcome for the testing dataset
Y_pred=linReg.predict(X_test)
print(Y_pred)

[[18.86338702]
 [ 9.84655779]
 [13.41803045]
 [17.22898202]
 [12.04691789]
 [18.55747496]
 [21.1634091 ]
 [12.72042362]
 [12.97506164]
 [13.92566927]
 [ 7.51307196]
 [14.23118627]
 [20.04935947]
 [23.7007243 ]
 [11.89723818]
 [ 3.52857648]
 [13.83264928]
 [ 6.95890845]
 [14.77152103]
 [13.89872759]
 [15.76947847]
 [15.13704272]
 [24.30946888]
 [ 6.98262357]
 [16.78916237]
 [10.45142016]
 [13.6472183 ]
 [ 9.34979216]
 [ 9.57748251]
 [14.54537148]
 [15.14308522]
 [20.50018444]
 [21.35930417]
 [13.05841969]
 [ 9.15907797]
 [20.92973623]
 [ 5.67335924]
 [12.18971187]
 [18.30720417]
 [ 9.14720142]
 [13.06839204]
 [13.20989756]
 [16.71330626]
 [ 9.28060663]
 [17.19904302]
 [17.92154281]
 [10.07060398]
 [14.52784471]
 [12.06574177]
 [15.20033764]]

#### 7: Calculate the Mean Square Error (MSE)

In [103]:
#Import required libraries for calculating MSE (mean square error)
import numpy as np

In [104]:
#Calculate the MSE
print("MSE:%.2f"%np.mean(linReg.predict(X_test)-Y_test)**2)

MSE:0.02