In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data_train=pd.read_csv("bigmart_train.csv")

In [3]:
data_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
data_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
data_train['Item_Weight']=data_train['Item_Weight'].fillna(data_train['Item_Weight'].mean())
data_train['Outlet_Size']=data_train['Outlet_Size'].fillna(data_train['Outlet_Size'].mode()[0])

In [8]:
data_train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [9]:
data_train['Outlet_Age']=2018-data_train['Outlet_Establishment_Year']

In [10]:
data_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Age
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,19
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,9
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,19
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,20
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,31

In [11]:
data_train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [12]:
data_train['Item_Fat_Content']=data_train['Item_Fat_Content'].replace(['Low Fat','LF','low fat'],"Low Fat")

In [14]:
data_train['Item_Fat_Content']=data_train['Item_Fat_Content'].replace(["Regular","reg"],"Regular")

In [15]:
data_train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [16]:
data_train["Item_Visibility"].unique()

array([0.0160473 , 0.01927822, 0.01676007, ..., 0.03518627, 0.14522065,
       0.04487828])

In [17]:
data_train['Item_Visibility_bins']=pd.cut(data_train['Item_Visibility'],[0.000,0.065,0.13,0.2],
                                           labels=['Low Viz','Viz','High Viz'])

In [18]:
data_train["Item_Visibility_bins"].uniqueue()

['Low Viz', NaN, 'Viz', 'High Viz']
Categories (3, object): ['Low Viz' < 'Viz' < 'High Viz']

In [25]:
data_train['Item_Visibility_bins']=data_train["Item_Visibility_bins"].fillna("Low Viz")

In [28]:
data_train.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Age,Item_Visibility_bins
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,31,Low Viz
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850,16,Low Viz
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,14,Low Viz
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,9,High Viz
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,21,Low Viz

['Low Viz', 'Viz', 'High Viz']
Categories (3, object): ['Low Viz' < 'Viz' < 'High Viz']

In [30]:
q1=data_train['Item_Visibility'].quantile(0.25)
q3=data_train['Item_Visibility'].quantile(0.75)
iqr=q3-q1

filt_train=data_train.query('(@q1-1.5*@iqr)<=Item_Visibility<=(@q3+1.5*@iqr)')

In [31]:
data_train=filt_train
data_train.shape

(8379, 14)

In [32]:
data_train["Item_Fat_Content"]

0       Low Fat
1       Regular
2       Low Fat
3       Regular
4       Low Fat
         ...
8518    Low Fat
8519    Regular
8520    Low Fat
8521    Regular
8522    Low Fat
Name: Item_Fat_Content, Length: 8379, dtype: object

In [33]:
le=LabelEncoder()

In [34]:
data_train['Item_Fat_Content']=le.fit_transform(data_train["Item_Fat_Content"])

<ipython-input-34-ff0d8d8cd368>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['Item_Fat_Content']=le.fit_transform(data_train["Item_Fat_Content"])

In [35]:
data_train['Item_Fat_Content'].unique()

array([0, 1])

In [36]:
data_train['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [37]:
data_train['Outlet_Size']=le.fit_transform(data_train['Outlet_Size'])

<ipython-input-37-d5547f176f1b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['Outlet_Size']=le.fit_transform(data_train['Outlet_Size'])

In [38]:
data_train['Item_Visibility_bins']=le.fit_transform(data_train["Item_Visibility_bins"])

<ipython-input-38-534db5a02b5a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['Item_Visibility_bins']=le.fit_transform(data_train["Item_Visibility_bins"])

In [40]:
data_train['Item_Visibility_bins'].unique()

array([1, 2, 0])

In [41]:
data_train['Outlet_Size']=le.fit_transform(data_train["Outlet_Size"])

<ipython-input-41-19b818c20609>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['Outlet_Size']=le.fit_transform(data_train["Outlet_Size"])

In [42]:
data_train['Outlet_Location_Type']=le.fit_transform(data_train["Outlet_Location_Type"])

<ipython-input-42-5e8b475bf302>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['Outlet_Location_Type']=le.fit_transform(data_train["Outlet_Location_Type"])

In [43]:
data_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Age,Item_Visibility_bins
0,FDA15,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,1,0,Supermarket Type1,3735.1380,19,1
1,DRC01,5.92,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,Supermarket Type2,443.4228,9,1
2,FDN15,17.50,0,0.016760,Meat,141.6180,OUT049,1999,1,0,Supermarket Type1,2097.2700,19,1
3,FDX07,19.20,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,2,Grocery Store,732.3800,20,1
4,NCD19,8.93,0,0.000000,Household,53.8614,OUT013,1987,0,2,Supermarket Type1,994.7052,31,1

In [44]:
dummpy=pd.get_dummies(data_train['Outlet_Type'])

In [46]:
data_train=pd.concat([data_train,dummpy],axis=1)

In [47]:
data_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Age,Item_Visibility_bins,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,FDA15,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,1,0,Supermarket Type1,3735.1380,19,1,0,1,0,0
1,DRC01,5.92,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,Supermarket Type2,443.4228,9,1,0,0,1,0
2,FDN15,17.50,0,0.016760,Meat,141.6180,OUT049,1999,1,0,Supermarket Type1,2097.2700,19,1,0,1,0,0
3,FDX07,19.20,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,2,Grocery Store,732.3800,20,1,1,0,0,0
4,NCD19,8.93,0,0.000000,Household,53.8614,OUT013,1987,0,2,Supermarket Type1,994.7052,31,1,0,1,0,0

In [49]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8379 entries, 0 to 8522
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8379 non-null   object
 1   Item_Weight                8379 non-null   float64
 2   Item_Fat_Content           8379 non-null   int32
 3   Item_Visibility            8379 non-null   float64
 4   Item_Type                  8379 non-null   object
 5   Item_MRP                   8379 non-null   float64
 6   Outlet_Identifier          8379 non-null   object
 7   Outlet_Establishment_Year  8379 non-null   int64
 8   Outlet_Size                8379 non-null   int64
 9   Outlet_Location_Type       8379 non-null   int32
 10  Outlet_Type                8379 non-null   object
 11  Item_Outlet_Sales          8379 non-null   float64
 12  Outlet_Age                 8379 non-null   int64
 13  Item_Visibility_bins       8379 non-null   int32
 14  Grocery Store              8379 non-null   uint8
 15  Supermarket Type1          8379 non-null   uint8
 16  Supermarket Type2          8379 non-null   uint8
 17  Supermarket Type3          8379 non-null   uint8
dtypes: float64(4), int32(3), int64(3), object(4), uint8(4)
memory usage: 916.5+ KB

In [50]:
data_train=data_train.drop(['Item_Identifier','Item_Type','Outlet_Identifier','Outlet_Type','Outlet_Establishment_Year'],axis=1)

In [51]:
data_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Outlet_Age,Item_Visibility_bins,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,9.30,0,0.016047,249.8092,1,0,3735.1380,19,1,0,1,0,0
1,5.92,1,0.019278,48.2692,1,2,443.4228,9,1,0,0,1,0
2,17.50,0,0.016760,141.6180,1,0,2097.2700,19,1,0,1,0,0
3,19.20,1,0.000000,182.0950,1,2,732.3800,20,1,1,0,0,0
4,8.93,0,0.000000,53.8614,0,2,994.7052,31,1,0,1,0,0

In [52]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8379 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           8379 non-null   float64
 1   Item_Fat_Content      8379 non-null   int32
 2   Item_Visibility       8379 non-null   float64
 3   Item_MRP              8379 non-null   float64
 4   Outlet_Size           8379 non-null   int64
 5   Outlet_Location_Type  8379 non-null   int32
 6   Item_Outlet_Sales     8379 non-null   float64
 7   Outlet_Age            8379 non-null   int64
 8   Item_Visibility_bins  8379 non-null   int32
 9   Grocery Store         8379 non-null   uint8
 10  Supermarket Type1     8379 non-null   uint8
 11  Supermarket Type2     8379 non-null   uint8
 12  Supermarket Type3     8379 non-null   uint8
dtypes: float64(4), int32(3), int64(2), uint8(4)
memory usage: 589.1 KB

In [53]:
X=data_train.drop("Item_Outlet_Sales",axis=1)

In [54]:
y=data_train.Item_Outlet_Sales

In [144]:
data_test=pd.read_csv("bigmart_test.csv")
data_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [145]:
data_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [146]:
data_test['Item_Weight']=data_test['Item_Weight'].fillna(data_test['Item_Weight'].mean())
data_test['Outlet_Size']=data_test['Outlet_Size'].fillna(data_test['Outlet_Size'].mode()[0])

In [147]:
data_test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [148]:
data_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300000,reg,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1
4,FDY38,12.695633,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [149]:
data_test['Item_Fat_Content'].unique()

array(['Low Fat', 'reg', 'Regular', 'LF', 'low fat'], dtype=object)

In [150]:
data_test['Item_Fat_Content']=data_test['Item_Fat_Content'].replace(['Low Fat','LF','low fat'],'Low Fat')
data_test['Item_Fat_Content']=data_test['Item_Fat_Content'].replace(['reg','Regular'],'Regular')

In [151]:
data_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300000,Regular,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1
4,FDY38,12.695633,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [152]:
data_test['Item_Visibility_bins']=pd.cut(data_test['Item_Visibility'],[0.000,0.065,0.13,0.2],
                                           labels=['Low Viz','Viz','High Viz'])

In [153]:
data_test.isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
Item_Visibility_bins         459
dtype: int64

In [154]:
data_test['Item_Visibility_bins']=data_test['Item_Visibility_bins'].fillna("Low Viz")

In [155]:
data_test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Visibility_bins         0
dtype: int64

In [156]:
data_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Visibility_bins
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,Low Viz
1,FDW14,8.300000,Regular,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1,Low Viz
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store,Viz
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1,Low Viz
4,FDY38,12.695633,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,Viz

In [157]:
q1=data_test['Item_Visibility'].quantile(0.25)
q3=data_test['Item_Visibility'].quantile(0.75)
iqr=q3-q1

filt_test=data_test.query('(@q1-1.5*@iqr)<=Item_Visibility<=(@q3+1.5*@iqr)')
data_test=filt_test

In [158]:
data_test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Visibility_bins
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,Low Viz
1,FDW14,8.300000,Regular,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1,Low Viz
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store,Viz
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1,Low Viz
4,FDY38,12.695633,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,Viz
...,...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500000,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,Low Viz
5677,FDD47,7.600000,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,High Viz
5678,NCO17,10.000000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Medium,Tier 2,Supermarket Type1,Viz
5679,FDJ26,15.300000,Regular,0.000000,Canned,214.6218,OUT017,2007,Medium,Tier 2,Supermarket Type1,Low Viz
5680,FDU37,9.500000,Regular,0.104720,Canned,79.7960,OUT045,2002,Medium,Tier 2,Supermarket Type1,Viz

In [159]:
data_test.shape

(5568, 12)

In [160]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5568 entries, 0 to 5680
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5568 non-null   object
 1   Item_Weight                5568 non-null   float64
 2   Item_Fat_Content           5568 non-null   object
 3   Item_Visibility            5568 non-null   float64
 4   Item_Type                  5568 non-null   object
 5   Item_MRP                   5568 non-null   float64
 6   Outlet_Identifier          5568 non-null   object
 7   Outlet_Establishment_Year  5568 non-null   int64
 8   Outlet_Size                5568 non-null   object
 9   Outlet_Location_Type       5568 non-null   object
 10  Outlet_Type                5568 non-null   object
 11  Item_Visibility_bins       5568 non-null   category
dtypes: category(1), float64(3), int64(1), object(7)
memory usage: 527.5+ KB

In [161]:
data_test['Item_Fat_Content']=le.fit_transform(data_test['Item_Fat_Content'])

In [162]:
data_test['Outlet_Size']=le.fit_transform(data_test['Outlet_Size'])

In [163]:
data_test['Item_Visibility_bins']=le.fit_transform(data_test['Item_Visibility_bins'])

In [164]:
data_test['Outlet_Location_Type']=le.fit_transform(data_test['Outlet_Location_Type'])

In [165]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5568 entries, 0 to 5680
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5568 non-null   object
 1   Item_Weight                5568 non-null   float64
 2   Item_Fat_Content           5568 non-null   int32
 3   Item_Visibility            5568 non-null   float64
 4   Item_Type                  5568 non-null   object
 5   Item_MRP                   5568 non-null   float64
 6   Outlet_Identifier          5568 non-null   object
 7   Outlet_Establishment_Year  5568 non-null   int64
 8   Outlet_Size                5568 non-null   int32
 9   Outlet_Location_Type       5568 non-null   int32
 10  Outlet_Type                5568 non-null   object
 11  Item_Visibility_bins       5568 non-null   int32
dtypes: float64(3), int32(4), int64(1), object(4)
memory usage: 478.5+ KB

In [166]:
dummpy=pd.get_dummies(data_test['Outlet_Type'])

In [167]:
data_test=pd.concat([data_test,dummpy],axis=1)

In [168]:
data_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Visibility_bins,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,FDW58,20.750000,0,0.007565,Snack Foods,107.8622,OUT049,1999,1,0,Supermarket Type1,1,0,1,0,0
1,FDW14,8.300000,1,0.038428,Dairy,87.3198,OUT017,2007,1,1,Supermarket Type1,1,0,1,0,0
2,NCN55,14.600000,0,0.099575,Others,241.7538,OUT010,1998,1,2,Grocery Store,2,1,0,0,0
3,FDQ58,7.315000,0,0.015388,Snack Foods,155.0340,OUT017,2007,1,1,Supermarket Type1,1,0,1,0,0
4,FDY38,12.695633,1,0.118599,Dairy,234.2300,OUT027,1985,1,2,Supermarket Type3,2,0,0,0,1

In [169]:
data_test.shape

(5568, 16)

In [170]:
data_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Visibility_bins,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,FDW58,20.750000,0,0.007565,Snack Foods,107.8622,OUT049,1999,1,0,Supermarket Type1,1,0,1,0,0
1,FDW14,8.300000,1,0.038428,Dairy,87.3198,OUT017,2007,1,1,Supermarket Type1,1,0,1,0,0
2,NCN55,14.600000,0,0.099575,Others,241.7538,OUT010,1998,1,2,Grocery Store,2,1,0,0,0
3,FDQ58,7.315000,0,0.015388,Snack Foods,155.0340,OUT017,2007,1,1,Supermarket Type1,1,0,1,0,0
4,FDY38,12.695633,1,0.118599,Dairy,234.2300,OUT027,1985,1,2,Supermarket Type3,2,0,0,0,1

In [171]:
data_test['Outlet_Age']=2018-data_test['Outlet_Establishment_Year']

In [143]:
data_test.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_MRP',
       'Outlet_Size', 'Outlet_Location_Type', 'Item_Visibility_bins',
       'Grocery Store', 'Supermarket Type1', 'Supermarket Type2',
       'Supermarket Type3', 'Outlet_Age', 'Grocery Store', 'Supermarket Type1',
       'Supermarket Type2', 'Supermarket Type3'],
      dtype='object')

In [172]:
X_test=data_test.drop(['Item_Identifier','Item_Type','Outlet_Identifier','Outlet_Type','Outlet_Establishment_Year'],axis=1)

In [176]:
X_test.shape

(5568, 12)

In [174]:
X.shape

(8379, 12)

In [184]:
from sklearn.model_selection import train_test_split
from math import sqrt

In [178]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [186]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [180]:
Linreg=LinearRegression()

In [181]:
Linreg.fit(x_train,y_train)
print(Linreg.coef_)
print(Linreg.intercept_)

[    3.32565903    27.49948402  -196.15278716    15.96531149
    16.76148752     8.04121542    -2.28120926    17.62300318
 -1753.70556394   219.18652367  -122.33893469  1656.85797495]
-193.53688992599382

In [183]:
predict=Linreg.predict(x_test)

In [187]:
print(sqrt(mean_squared_error(y_test,predict)))

1118.41605258575

In [189]:
from sklearn.linear_model import Ridge

In [190]:
ridgereg=Ridge(alpha=0.001,normalize=True)

In [191]:
ridgereg.fit(x_train,y_train)

Ridge(alpha=0.001, normalize=True)

In [192]:
ridgereg.predict(x_train)

array([ 544.6482715 , 3283.6524949 , 4018.91014668, ..., 3065.57458513,
       2718.0260794 , 1590.06227592])

In [193]:
ridgereg.predict(x_test)

array([-638.66047261, 2865.39945569, 1440.05783307, ..., 1913.12230681,
       3141.29039113, 4248.98161702])

In [194]:
print(sqrt(mean_squared_error(y_train,ridgereg.predict(x_train))))
print(sqrt(mean_squared_error(y_test,ridgereg.predict(x_test))))

1139.5277714448032
1118.3593685856831

In [195]:
print("R2_value: ",ridgereg.score(x_test,y_test))

R2_value:  0.548659756640925

In [196]:
from sklearn.linear_model import Lasso

In [197]:
lassoreg=Lasso(alpha=0.001,normalize=True)

In [198]:
lassoreg.fit(x_train,y_train)

Lasso(alpha=0.001, normalize=True)

In [201]:
print(sqrt(mean_squared_error(y_test,lassoreg.predict(x_test))))
print(sqrt(mean_squared_error(y_test,lassoreg.predict(x_test))))
print("R2_value: ",lassoreg.score(x_test,y_test))

1118.409534783899
1118.409534783899
R2_value:  0.548619264232897

In [202]:
from sklearn.linear_model import ElasticNet

In [203]:
elasticreg=ElasticNet(alpha=0.001,normalize=True)
elasticreg.fit(x_train,y_train)
print(sqrt(mean_squared_error(y_test,elasticreg.predict(x_test))))
print(sqrt(mean_squared_error(y_test,elasticreg.predict(x_test))))
print("R2_value: ",elasticreg.score(x_test,y_test))

1429.1476301155994
1429.1476301155994
R2_value:  0.262952486755617