<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the FDNY Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [19]:
#Import the Fire Department of New York City (FDNY) file
df_data=pd.read_csv('FDNY.csv')

#### 2: Analyze the dataset

In [20]:
#View the content of the data
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FacilityName     219 non-null    object
 1   FacilityAddress  219 non-null    object
 2   Borough          219 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [30]:
#View the first five records
df_data.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [31]:
#Skip the duplicate header row
df=df_data.drop_duplicates(['Borough'])
df.shape

(6, 3)

In [32]:
#Verify if the dataset is fixed
df

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
49,Engine 60/Ladder 17/Battalion 14,341 East 143rd Street,Bronx
83,Engine 207/Ladder 110/Battalion 31/Division 11...,172 Tillary Street,Brooklyn
149,Engine 258/Ladder 115,10-40 47th Avenue,Queens
199,Marine 9,Saint George Ferry Terminal,Staten Island

In [35]:
#View the data statistics (Hint: use describe() method)
df_data.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]>

In [36]:
#View the attributes of the dataset (Hint: view the column names)
df_data.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [38]:
#View the index of the dataset
df_data.index

RangeIndex(start=0, stop=219, step=1)

#### 3: Find the total number of fire department facilities in New York city

In [40]:
#Count number of records for each attribute
df_data.count()

FacilityName       219
FacilityAddress    219
Borough            219
dtype: int64

In [42]:
#view the datatypes of all three attributes
df_data.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

#### 4: Find the total number of fire department facilities in each borough

In [51]:
#Select FDNY information boroughwise
df_data_borough=df_data.groupby('Borough')

              FacilityName         \
                     count unique
Borough
Borough                  1      1
Bronx                   34     34
Brooklyn                66     66
Manhattan               48     48
Queens                  50     50
Staten Island           20     20

                                                                       \
                                                             top freq
Borough
Borough                                             FacilityName    1
Bronx                                        Engine 81/Ladder 46    1
Brooklyn                                              Engine 228    1
Manhattan                                              Engine 14    1
Queens         Engine 265/Ladder 121/Battalion 47 EMS Station 47    1
Staten Island                                         Engine 159    1

              FacilityAddress
                        count unique                      top freq
Borough
Borough                     1      1          FacilityAddress    1
Bronx                      34     34       1226 Seneca Avenue    1
Brooklyn                   66     66         1157 79th Street    1
Manhattan                  48     48  157-59 East 67th Street    1
Queens                     50     50        30-89 21st Street    1
Staten Island              20     20          74 Broad Street    1

In [59]:
#View FDNY informationn for each borough
df_data_borough.size()

Borough
Borough           1
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

#### 5: Find the total number of fire department facilities in Manhattan

In [60]:
#Select FDNY information for Manhattan
df_manhatan=df_data_borough.get_group('Manhattan')

In [68]:
#View FDNY information for Manhattan
df_manhatan.head()

                                        FacilityName        FacilityAddress
1                                 Engine 4/Ladder 15        42 South Street
2                                Engine 10/Ladder 10     124 Liberty Street
3                                           Engine 6      49 Beekman Street
4  Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...   100-104 Duane Street
5                                           Ladder 8  14 North Moore Street