In [2]:
import numpy as np
import pandas as pd

In [3]:
data_wallmart=pd.read_csv("Walmart_Store_sales.csv")

In [4]:
data_wallmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [6]:
data_wallmart.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [13]:
data_wallmart.shape

(6435, 8)

In [14]:
data_wallmart.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [19]:
# Which store has maximum sales
data_groupby=data_wallmart.groupby('Store')['Weekly_Sales'].sum()

In [21]:
data_groupby.head()

Store
1    2.224028e+08
2    2.753824e+08
3    5.758674e+07
4    2.995440e+08
5    4.547569e+07
Name: Weekly_Sales, dtype: float64

In [25]:
store=data_groupby.idxmax()
sales=data_groupby.max()

In [27]:
print(f'Store no {store} has maximum sales of {sales}')

Store no 20 has maximum sales of 301397792.46000004

In [28]:
#Which store has maximum standard deviation i.e., the sales vary a lot. 
# Also, find out the coefficient of mean to standard deviation

data_std=data_wallmart.groupby("Store").agg({'Weekly_Sales':'std'})

In [37]:
store_2=data_std['Weekly_Sales'].idxmax()
sales_2=data_std['Weekly_Sales'].max()

In [38]:
print(f'Store no {store_2} has maximum std of {sales_2}')

Store no 14 has maximum std of 317569.9494755081

In [45]:
# Which store/s has good quarterly growth rate in Q3’2012
wallmart_q3=data_wallmart[(pd.to_datetime(data_wallmart['Date'])>=pd.to_datetime('07-01-2012'))&
                         (pd.to_datetime(data_wallmart['Date'])<=pd.to_datetime('09-30-2012'))]

In [46]:
wallmart_q3.shape

(540, 8)

In [47]:
wallmart_q3.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
109,1,09-03-2012,1675431.16,0,58.76,3.669,221.059189,7.348
122,1,08-06-2012,1697230.96,0,78.30,3.452,221.749484,7.143
127,1,13-07-2012,1527014.04,0,77.12,3.256,221.924158,6.908
128,1,20-07-2012,1497954.76,0,80.42,3.311,221.932727,6.908
129,1,27-07-2012,1439123.71,0,82.66,3.407,221.941295,6.908

In [48]:
q3_growth=wallmart_q3.groupby(['Store'])['Weekly_Sales'].sum()

In [52]:
store3=q3_growth.idxmax()
sales3=q3_growth.max()

In [54]:
print(f'Store no {store3} has maximum Q3 growth of {sales3}')

Store no 4 has maximum Q3 growth of 25652119.35

In [55]:
# Some holidays have a negative impact on sales. 
# Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together
holiday=data_wallmart[data_wallmart['Holiday_Flag']==1]
non_holiday=data_wallmart[data_wallmart['Holiday_Flag']==0]

In [57]:
# labour day
labour_day=holiday[(pd.to_datetime(holiday['Date'])==pd.to_datetime('10-09-2010'))|
                  (pd.to_datetime(holiday['Date'])==pd.to_datetime('09-09-2011'))|
                  (pd.to_datetime(holiday['Date'])==pd.to_datetime('07-09-2012'))|
                  (pd.to_datetime(holiday['Date'])==pd.to_datetime('06-09-2013'))]

In [58]:
# thanks giving
thanks_giving=holiday[(pd.to_datetime(holiday["Date"])==pd.to_datetime('26-11-2010'))|
                     (pd.to_datetime(holiday['Date'])==pd.to_datetime('25-11-2011'))|
                     (pd.to_datetime(holiday['Date'])==pd.to_datetime('23-11-2012'))|
                     (pd.to_datetime(holiday['Date'])==pd.to_datetime('29-11-2013'))]

In [59]:
# super bowl
super_bowl=holiday[(pd.to_datetime(holiday['Date'])==pd.to_datetime('12-02-2010'))|
                  (pd.to_datetime(holiday['Date'])==pd.to_datetime('11-02-2011'))|
                  (pd.to_datetime(holiday['Date'])==pd.to_datetime('10-02-2012'))|
                  (pd.to_datetime(holiday['Date'])==pd.to_datetime('08-02-2012'))]

In [60]:
# christmas
christmas=holiday[(pd.to_datetime(holiday['Date'])==pd.to_datetime('31-12-10'))|
                 (pd.to_datetime(holiday['Date'])==pd.to_datetime('30-12-11'))|
                 (pd.to_datetime(holiday['Date'])==pd.to_datetime('28-12-12'))|
                 (pd.to_datetime(holiday['Date'])==pd.to_datetime('27-12-13'))]

In [61]:
# non_holidays
stores_noholiday_mean=non_holiday.groupby(['Date']).agg({"Weekly_Sales":"mean"}).reset_index()

In [65]:
stores_holiday_sum=holiday.groupby(['Date']).agg({"Weekly_Sales":"sum"}).reset_index()

In [66]:
# Provide a monthly and semester view of sales in units and give insights
for row in stores_holiday_sum.itertuples():
    for row1 in stores_noholiday_mean.itertuples():
        if row.Weekly_Sales>row1.Weekly_Sales:
            print(f'On {row.Date} holiday sales is greater than non-holiday sales and the sales:-{row.Weekly_Sales}')
            break

On 07-09-2012 holiday sales is greater than non-holiday sales and the sales:-48330059.31
On 09-09-2011 holiday sales is greater than non-holiday sales and the sales:-46763227.529999994
On 10-02-2012 holiday sales is greater than non-holiday sales and the sales:-50009407.919999994
On 10-09-2010 holiday sales is greater than non-holiday sales and the sales:-45634397.84
On 11-02-2011 holiday sales is greater than non-holiday sales and the sales:-47336192.79000002
On 12-02-2010 holiday sales is greater than non-holiday sales and the sales:-48336677.63000002
On 25-11-2011 holiday sales is greater than non-holiday sales and the sales:-66593605.25999998
On 26-11-2010 holiday sales is greater than non-holiday sales and the sales:-65821003.23999999
On 30-12-2011 holiday sales is greater than non-holiday sales and the sales:-46042461.04000001
On 31-12-2010 holiday sales is greater than non-holiday sales and the sales:-40432519.0

In [74]:
superbowl_Saler=super_bowl['Weekly_Sales'].sum()
labour_day_sales=labour_day['Weekly_Sales'].sum()
thanks_giving_saler=thanks_giving['Weekly_Sales'].sum()
christmas_Sales=christmas['Weekly_Sales'].sum()
print(f'Super bowl Day Sales: {superbowl_Saler}')
print(f'Labour day Sales: {labour_day_sales}')
print(f'Thanks giving Sales: {thanks_giving_saler}')
print(f'Christmans Sales: {christmas_Sales}')

Super bowl Day Sales: 145682278.34
Labour day Sales: 140727684.68
Thanks giving Sales: 132414608.5
Christmans Sales: 86474980.03999999

In [75]:
data_wallmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [76]:
# Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order). 
# Hypothesize if CPI, unemployment, and fuel price have any impact on sales.
import numpy as np
import pandas as pd

In [77]:
x_feature =data_wallmart[data_wallmart['Store']==1][['Store','Date']]

In [78]:
x_feature

     Store        Date
0        1  05-02-2010
1        1  12-02-2010
2        1  19-02-2010
3        1  26-02-2010
4        1  05-03-2010
..     ...         ...
138      1  28-09-2012
139      1  05-10-2012
140      1  12-10-2012
141      1  19-10-2012
142      1  26-10-2012

[143 rows x 2 columns]

In [79]:
date_obj=data_wallmart[data_wallmart['Store']==1][['Date']]

In [81]:
date_obj.index+=1

In [82]:
x_feature.Date=date_obj.index

In [83]:
x_feature.head()

   Store  Date
0      1     1
1      1     2
2      1     3
3      1     4
4      1     5

In [84]:
y_target=data_wallmart[data_wallmart['Store']==1]['Weekly_Sales']
y_target.head()

0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
Name: Weekly_Sales, dtype: float64

In [85]:
from sklearn.linear_model import LinearRegression
linReg=LinearRegression()

In [86]:
linReg.fit(x_feature,y_target)

LinearRegression()

In [87]:
linReg.intercept_

1497100.7549640501

In [88]:
linReg.coef_

array([  0.        , 807.82836928])

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
X_train,X_test,Y_train,Y_test=train_test_split(x_feature,y_target)

In [91]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(107, 2) (36, 2) (107,) (36,)

In [92]:
linReg.fit(X_train,Y_train)

LinearRegression()

In [94]:
feature_dataset=data_wallmart[data_wallmart['Store']==1][['Store','CPI','Unemployment','Fuel_Price']]

In [95]:
feature_dataset

     Store         CPI  Unemployment  Fuel_Price
0        1  211.096358         8.106       2.572
1        1  211.242170         8.106       2.548
2        1  211.289143         8.106       2.514
3        1  211.319643         8.106       2.561
4        1  211.350143         8.106       2.625
..     ...         ...           ...         ...
138      1  222.981658         6.908       3.666
139      1  223.181477         6.573       3.617
140      1  223.381296         6.573       3.601
141      1  223.425723         6.573       3.594
142      1  223.444251         6.573       3.506

[143 rows x 4 columns]

In [96]:
response_set_cpi=data_wallmart[data_wallmart['Store']==1]['CPI'].astype('int64')

In [98]:
response_set_unemployment=data_wallmart[data_wallmart['Store']==1]['Unemployment'].astype('int64')

In [99]:
from sklearn.model_selection import train_test_split

In [100]:
x_train_cpi,x_test_cpi,y_train_cpi,y_test_cpi=train_test_split(feature_dataset,response_set_cpi)

In [101]:
x_train_unemp,x_test_unemp,y_train_unemp,y_test_unemp=train_test_split(feature_dataset,response_set_unemployment)

In [102]:
from sklearn.linear_model import LogisticRegression

In [103]:
logReg=LogisticRegression()

In [104]:
logReg.fit(x_train_cpi,y_train_cpi)

C:\Users\admin\anaconda_3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [106]:
y_pred_cpi=logReg.predict(x_test_cpi)

In [107]:
logReg.fit(x_train_unemp,y_train_unemp)
y_pred_unemp=logReg.predict(x_test_unemp)

In [108]:
from sklearn.metrics import accuracy_score

In [109]:
print(accuracy_score(y_test_cpi,y_pred_cpi))
print(accuracy_score(y_test_unemp,y_pred_unemp))

0.6944444444444444
0.9444444444444444

In [110]:
data_wallmart['Day']=pd.to_datetime(data_wallmart['Date']).dt.day_name()

In [111]:
data_wallmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Day
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106,Sunday
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106,Thursday
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106,Friday
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106,Friday
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106,Monday